* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
    background-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#008000;
}

body h2 {
  border-bottom:2px solid #008000 ;
  font-size:x-large;
  text-align:center;
}

section {
  padding:60px;
}

header {
    padding: 20px 35px;
    background-image:url(https://postimg.cc/Vds7cfvY);
    background-size:cover;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color:#008000;
   }

  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #008000;
  }

  header a {
    text-decoration: none;
    color: #008000;
  }

  header a:hover {
    color: rgb(121, 201, 121);
  }

  header nav {
    margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
  }

  .profile-pic img {
    max-height: 400px;
    max-width: 400px;
    border: 2px solid #008000;
    display:flex;
    justify-content: left;
    flex-wrap: wrap;
  }

  .about-me p {
    line-height:2.7;
    width:80%;
    text-align:center;
    margin:0 auto;
    font-size:20px;
    letter-spacing:5px;
  }
  
  .project h3 {
    border-bottom: 2px solid #008000;
  }

  .flex-containerProjects {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  footer {
    display:flex;
    flex-direction:column;
    padding:60px;
    font-size:xx-large;
    border:1px dotted #008000; 
  }

  footer h2 {
   border-bottom:5px transparent #008000;
  }

  .linktoresume {
    display: flex;
    flex-direction: column;
    color:#008000;
    font-style: italic;
  }

  .linktoresume a:hover {
    color:#008000;
  }

  .contact-me {
    display:flex;
    justify-content: space-evenly;
    font-size: larger;
    padding-bottom: 0;
  }

  .flex-containerContact {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    font-size: larger;
  }